/**
 *
 *
 *  Materialize Template <http://wordpress.org>
 *
 *  By KRATZ Geoffrey AKA Jul6art AKA VanIllaSkype
 *  for VsWeb <https://vsweb.be>
 *
 *  https://vsweb.be
 *  admin@vsweb.be
 *
 *  Special thanks to Brynnlow
 *  for his contribution
 *
 *  It is free software; you can redistribute it and/or modify it under
 *  the terms of the GNU General Public License, either version 2
 *  of the License, or any later version.
 *
 *  For the full copyright and license information, please read the
 *  LICENSE.txt file that was distributed with this source code.
 *
 *  The flex one, in a flex world
 *
 *     __    __    ___            __    __    __   ____
 *     \ \  / /   / __|           \ \  /  \  / /  |  __\   __
 *      \ \/ / _  \__ \  _         \ \/ /\ \/ /   |  __|  |  _\
 *       \__/ (_) |___/ (_)         \__/  \__/    |  __/  |___/
 *
 *                    https://vsweb.be
 *
 */

@media screen
 and (min-device-width: 601px) {
   .ag-logo-main{
     padding-top: 6em;
   }
}

/* ----------- Retina Screens ----------- */
@media screen
 and (min-device-width: 1200px)
 and (max-device-width: 1600px)
 and (-webkit-min-device-pixel-ratio: 2)
 and (min-resolution: 192dpi) {
}

@media screen
 and (max-device-width: 600px) {
   .ag-logo-main{
     padding-top: 3em;
   }
}

.rainbow-pens{
 position: absolute;
 z-index: -1;
}


.nav-center ul {
   text-align: center;
}
.nav-center ul li {
   display: inline;
   float: none;
}
.nav-center ul li a {
   display: inline-block;
}
